<div class="header-main">
  <div class="table-row">
    <div class="wrap-header-left">
      {% include 'include-logo' %}      
    </div>
    {% if section.settings.search and settings.show_search %}
      <div class="wrap-header-center">
        <div class="searchbox" id="header-search">{% include 'layer-search-modal' ,type: 'search_template'  %}</div>
      </div>
    {% endif %}
    <div class="wrap-header-right">
      <div class="header-icons">
       {% include 'include-header-icons' %}
      </div>
    </div>
  </div>

  <div class="table-row">
    <div class="wrap-header-left">
      {% unless section.settings.nav_linklist == blank %}
        <div class="horizontal-menu">
          <div class="sidemenu-holder">
            <nav class="navbar navbar-expand-lg">
              <div class="collapse navbar-collapse">
                <ul class="menu-list {{section.settings.menu_align}}">
                  {% for l in linklists[section.settings.nav_linklist ].links %}
                    {% include 'nav-link' %}
                  {% endfor %}
                </ul>
              </div>
            </nav>
          </div>
        </div>
      {% endunless %}
    </div>
    <div class="wrap-header-right">
      {% include 'social-media-icons' %}
    </div>
  </div>
</div>