<div class="header-main">
  <div class="table-row">
    <div class="wrap-header-left">
      {% include 'include-logo' %}      
    </div>
      <div class="wrap-header-center">
        {% if section.settings.search and settings.show_search %}
        <div class="searchbox" id="header-search">
          {% include 'layer-search-modal' ,type: 'search_template'  %}
        </div>
        {% endif %}
      </div>
    <div class="wrap-header-right">      
      <div class="custom-text">
        {% unless section.settings.icon_custom == blank %}
          <div class="custom-icon"><i class="iconfont {{section.settings.icon_custom}}"></i></div>
        {% endunless %}
        <div class="custom--text">
          {{section.settings.custom_text}}
        </div>
      </div>
      <div class="header-icons">
       {% include 'include-header-icons' %}
      </div>
    </div>
  </div>

  {% unless section.settings.nav_linklist == blank %}
  <div class="table-row">
    <div class="horizontal-menu">
      <div class="sidemenu-holder">
        <nav class="navbar navbar-expand-lg">
          <div class="collapse navbar-collapse">
            <ul class="menu-list {{section.settings.menu_align}}">
              {% for l in linklists[section.settings.nav_linklist ].links %}
              {% include 'nav-link' %}
              {% endfor %}
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
  {% endunless %}
</div>