<ul class="widget-social-icons list-inline">
	<li>
		<a target="_blank" rel="noopener" href="https://www.facebook.com/R-Club-100691925552662/?view_public_for=100691925552662" title="Facebook">
            <i class="demo-icon icon-facebook"></i>
        </a>
  	</li>
  	<li>
 		<a target="_blank" rel="noopener" href="https://instagram.com/relxclubph?utm_medium=copy_link" title="Instagram">
            <i class="demo-icon icon-instagram"></i>
        </a>
    </li>
    <li>
    	<a target="_blank" rel="noopener" href="mailto:care@relxclub.com" title="Gmail">
            <i class="demo-icon icon-google"></i>
        </a>
    </li>
</ul>