
{% comment %} PLEASE DON'T MAKE CHANGES IN THIS FILE IT'S AFFECT THE CODE IF YOU NEED ANY HELP PLEASE CONTACT TO FLITS TEAM support@getflits.com {% endcomment %}
<div class="flits-code-snippet">
    {% render 'flits_capture_code' with 'module',template:'module_accountPageSnippet' %}
</div>
