{% include 'product-default' %}
{%- for block in section.blocks -%}{%- if block.type == 'discount_popup' -%}{%- include 'layer-discount-modal' -%}{%- break -%}{%- endif -%}{%- endfor -%}
{% schema %}
{
  "name": "Product Default",
  "settings": [
    {
      "type": "header",
      "content": "LAYOUT"
    },
    {
      "type": "checkbox",
      "id": "boxed_layout",
      "label": "Boxed layout",
      "default": true
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "select",
      "id": "zoom_type",
      "label": "Zoom type",
      "default": "hover",
      "options": [
        {
          "value": "none",
          "label": "Disabled"
        },
        {
          "value": "hover",
          "label": "Zoom on Hover"
        },
        {
          "value": "popup",
          "label": "Zoom Popup"
        }
      ]
    },
    {
      "type": "header",
      "content": "Product Gallery"
    },
    {
      "type": "select",
      "id": "image_pos",
      "label": "Product Gallery position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "thumbnail_pos",
      "label": "Product Gallery Thumbnail position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Add to cart"
    },
    {
      "type": "checkbox",
      "id": "shaking_cart",
      "label": "Show Shaking Cart Button",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": "Show Dynamic Checkout button",
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_pre_order_button",
      "label": "Show Pre-order button",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_sticky_cart",
      "label": "Show sticky cart"
    },
    {
      "type": "select",
      "id": "sticky_cart_position",
      "label": "Sticky cart position",
      "default": "bottom",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "text",
      "id": "tax_text",
      "label": "Excl. tax or Incl. tax."
    },
    {
      "type": "checkbox",
      "id": "auto_switchFirst",
      "label": "Auto switch image by variant",
      "info": "When the page has been loaded"
    },
    {
      "type": "header",
      "content": "Product Summary"
    },
    {
      "type": "checkbox",
      "id": "stock_enable",
      "label": "Show Inventory Remaining"
    },
    {
      "type": "checkbox",
      "id": "show_prod_tags",
      "label": "Show Product Tags"
    },
    {
      "type": "checkbox",
      "id": "show_prod_sku",
      "label": "Show Product SKU"
    },
    {
      "type": "checkbox",
      "id": "show_prod_category",
      "label": "Show Product Category"
    },
    {
      "type": "select",
      "id": "pos_product_sku",
      "label": "Position of Category, SKU, Tags",
      "options": [
        {
          "value": "1",
          "label": "Below Product Image"
        },
        {
          "value": "2",
          "label": "Below Product Info"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "image_size_chart",
      "label": "Size chart",
      "info": "Blank to hide"
    },
    {
      "type": "url",
      "id": "size_chart_page",
      "label": "Size Chart Page",
      "info": "Blank to hide"
    },
    {
      "type": "paragraph",
      "content": "Metafield allow you to attach metadata, which is additional information to a store's resources. Please install [Advanced Custom Field](https://apps.shopify.com/advanced-custom-field) to edit content."
    },
    {
      "type": "checkbox",
      "id": "meta_countdown_timer",
      "label": "Metafields Countdown Timer: c_f.countdown_timer",
      "default": true,
      "info": "Please make sure you config product's compare price to make this label visible [(?)](http://help.shopify.com/manual/products/promoting-marketing/sales)"
    },
    {
      "type": "range",
      "id": "countdown_style",
      "label": "Countdown timer styles",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 1
    },
    {
      "type": "checkbox",
      "id": "meta_description_excerpt",
      "label": "Metafields Description Excerpt: c_f.description_excerpt",
      "default": true
    },
    {
      "type": "header",
      "content": "Product Tabs",
      "info": "To customize your product tabs, please scroll to Content section and add content."
    },
    {
      "type": "select",
      "id": "product_tab_style",
      "label": "Tab style",
      "options": [
        {
          "value": "1",
          "label": "Tab"
        },
        {
          "value": "3",
          "label": "Tab with border"
        },
        {
          "value": "2",
          "label": "Accordion"
        }
      ],
      "default": "1"
    },
    {
      "type": "select",
      "id": "product_tab_pos",
      "label": "Tab Position",
      "options": [
        {
          "value": "hide",
          "label": "Hide"
        },
        {
          "value": "block",
          "label": "Separate blocks"
        },
        {
          "value": "inside_p_info",
          "label": "Inside Product Info"
        }
      ],
      "default": "block"
    },
    {
      "type": "header",
      "content": "Product Review"
    },
    {
      "type": "select",
      "id": "product_tab_review",
      "label": "Product Review Position",
      "options": [
        {
          "value": "hide",
          "label": "Hide"
        },
        {
          "value": "block",
          "label": "Separate blocks"
        },
        {
          "value": "inside",
          "label": "Inside the product tabs"
        }
      ],
      "default": "block"
    },
    {
      "type": "header",
      "content": "Related Product"
    },
    {
      "type": "checkbox",
      "id": "enable_related_product",
      "label": "Enable Related Product",
      "default": true
    },
    {
      "type": "text",
      "id": "heading_related_product",
      "label": "Title",
      "default": "Related Products"
    },
    {
      "type": "select",
      "id": "related_product_data",
      "label": "How to select related products",
      "options": [
        {
          "label": "Same Collection",
          "value": "collection"
        },
        {
          "label": "Same Vendor",
          "value": "vendors"
        },
        {
          "label": "Same Tag",
          "value": "tags"
        }
      ],
      "default": "collection"
    },
    {
      "type": "text",
      "id": "items_resp",
      "label": "Max number of items per row",
      "placeholder": "xl,lg,md,sm,xs",
      "info": "E.g: 4,3,2",
      "default": "4,2"
    },
    {
      "type": "checkbox",
      "id": "padding_item",
      "label": "Spacing items",
      "default": true
    },
    {
      "type": "range",
      "id": "related_product_limit",
      "label": "Limited items",
      "min": 3,
      "max": 20,
      "step": 1,
      "default": 15,
      "info": "Use for Same Collection"
    },
    {
      "type": "header",
      "content": "RECENTLY VIEWED"
    },
    {
      "type": "checkbox",
      "id": "enable_recently_viewd",
      "label": "Enabel Recently Viewd",
      "default": true
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "select",
      "id": "sidebar_pos",
      "label": "Sidebar position",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "none"
    }
  ],
  "blocks": [
    {
      "type": "description",
      "limit": 1,
      "name":"Tab Description",
      "settings": [
        {
          "type": "paragraph",
          "content": "Standard tab are created base on your Product description content. If you'd like unique set of tabs for each product you shoud use heading 5 function"
        },
        {
          "type": "checkbox",
          "id": "multi-tab",
          "label": "Use Multi-tabs with heading 5 tag",
          "default": true,
          "info": "We use heading 5 in Product's description to seperate Multi-tabs, each <h5>Tabs Title</h5> will be considered as content seperator and tabs title"
        }
      ]
    },
    {
      "type": "page",
      "name":"Tab Description by Page",
      "settings": [
        {
          "type": "paragraph",
          "content": "Static tab are created base on Page content. It's usefull for some content that is same for all the products like Shipping term, Size Guide, and so on"
        },
        {
          "type": "text",
          "id": "page_title",
          "label": "Heading"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Select a Page"
        }
      ]
    },
      {
         "type":"tab_metafield",
         "name":"Tab Description by ACF",
         "settings": [
            {
               "type":"paragraph",
               "content":"Metafield allow you to attach metadata, which is additional information to a store's resources. Please install [Advanced Custom Field](https:\/\/apps.shopify.com\/advanced-custom-field) to edit content."
            },
            {
               "type":"paragraph",
               "content":"Metafield Tab Description Heading: c_f.heading"
            },
            {
               "type":"paragraph",
               "content":"Metafield Tab Description Content: c_f.description"
            }
         ]
      },
    {
      "type": "video",
      "limit": 1,
      "name": "Short Video",
      "settings": [
        {
          "type": "textarea",
          "id": "video",
          "label": "Video link",
          "placeholder": "Go to Settings > Files > click 'Upload files' to upload your video, then copy the url and paste to here. If you check 'Use embed video', please copy embed code and paste here."
        },
        {
          "type": "textarea",
          "id": "video_embed",
          "label": "Video link embed"
        }
      ]
    },
    {
      "type": "policy",
      "name": "Sidebar Policy",
      "settings": [
        {
          "type": "select",
          "id": "type",
          "label": "Icon type",
          "default": "icon",
          "options": [
            {
              "value": "icon",
              "label": "Use icon"
            },
            {
              "value": "image",
              "label": "Use image"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "icon",
          "label": "Icon name",
          "default": "icon-copyright"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "textarea",
          "id": "caption",
          "label": "Caption"
        }
      ]
    },
    {
      "type": "product",
      "limit": 1,
      "name": "Sidebar Related Product",
      "settings": [
        {
          "type": "text",
          "id": "heading_related_product",
          "label": "Title",
          "default": "Related Products"
        },
        {
          "type": "range",
          "id": "related_product_limit",
          "label": "Limited items",
          "min": 1,
          "max": 10,
          "step": 1,
          "default": 3
        },
        {
          "type": "checkbox",
          "id": "related_border",
          "label": "Border",
          "default": true
        }
      ]
    },
    {
      "type": "sb_image",
      "limit": 3,
      "name": "Sidebar Image",
      "settings": [
        {
          "type": "text",
          "id": "heading_title",
          "label": "Title",
          "default": "Guaranteed Safe Checkout"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "categories",
      "name": "Sidebar Categories",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Categories"
        },
        {
          "type": "paragraph",
          "content": "All of your collections are listed by default. To customize your list, choose 'Selected' and add collection menu."
        },
        {
          "type": "radio",
          "id": "display_type",
          "label": "Select collections to show",
          "default": "all",
          "options": [
            {
              "value": "all",
              "label": "All"
            },
            {
              "value": "selected",
              "label": "Selected"
            }
          ]
        },
        {
          "type": "select",
          "id": "icon",
          "label": "Thumbnail icon",
          "options": [
            {
              "value": "collection-image",
              "label": "Use collection image"
            },
            {
              "value": "upload",
              "label": "Upload from Assets - png format"
            },
            {
              "value": "upload-svg",
              "label": "Upload from Assets - svg format"
            },
            {
              "value": "none",
              "label": "None"
            }
          ],
          "default": "collection-image",
          "info": "If you select 'Upload from Assets', please go to Assets folder, then click 'Add a new asset' to upload the image. The image size is 25x25 pixels, syntax is xxx.png. 'xxx' is collection handle."
        },
        {
          "type": "link_list",
          "id": "collection_menu",
          "label": "Collection Menu"
        },
        {
          "type": "checkbox",
          "id": "use_border",
          "label": "Border",
          "default": true
        }
      ]
    },
    {
      "type": "banner-carousel",
      "name": "Sidebar Banner Carousel",
      "limit": 1,
      "settings": [
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading color",
          "default": "#f0f0f0"
        },
        {
          "type": "color",
          "id": "subheading_color",
          "label": "Subheading color",
          "default": "#b1b1b1"
        },
        {
          "type": "header",
          "content": "Banner 01"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link_1",
          "label": "Link to"
        },
        {
          "type": "text",
          "id": "heading_1",
          "label": "Heading",
          "default": "Citchen Goods"
        },
        {
          "type": "text",
          "id": "subheading_1",
          "label": "Subheading",
          "default": "Fincidunt eu, mattis a libero. Pelletequ"
        },
        {
          "type": "text",
          "id": "button_text_1",
          "label": "Button text",
          "default": "check it out"
        },
        {
          "type": "header",
          "content": "Banner 02"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link_2",
          "label": "Link to"
        },
        {
          "type": "text",
          "id": "heading_2",
          "label": "Heading",
          "default": "Bronze Cups"
        },
        {
          "type": "text",
          "id": "subheading_2",
          "label": "Subheading",
          "default": "Fincidunt eu, mattis a libero. Pelletequ"
        },
        {
          "type": "text",
          "id": "button_text_2",
          "label": "Button text",
          "default": "shop now"
        },
        {
          "type": "header",
          "content": "Banner 03"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link_3",
          "label": "Link to"
        },
        {
          "type": "text",
          "id": "heading_3",
          "label": "Heading",
          "default": "Handmade Cups"
        },
        {
          "type": "text",
          "id": "subheading_3",
          "label": "Subheading",
          "default": "Fincidunt eu, mattis a libero. Pelletequ"
        },
        {
          "type": "text",
          "id": "button_text_3",
          "label": "Button text",
          "default": "check it out"
        }
      ]
    },
    {
      "type": "discount_popup",
      "name": "Discount Popup",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "discount_popup",
          "label": "Background image"
        },
        {
          "type": "textarea",
          "id": "discount_popup_text_1",
          "label": "Text 01",
          "default": "Wait a second..."
        },
        {
          "type": "textarea",
          "id": "discount_popup_text_2",
          "label": "Text 02",
          "default": "Don't you want discount off"
        }
      ]
    },
    {
      "type": "fomo_inline",
      "name": "Fomo Notify (Inline)",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Block label"
        },
        {
           "type":"text",
           "id":"fomo_margin",
           "label":"Fomo margin",
           "placeholder":"E.g: 5px 20px 5px 20px",
           "info":"Order: Top Right Bottom Left"
        },
        {
          "type": "header",
          "content": "Fomo Settings"
        },
        {
          "type": "range",
          "id": "cookie_history",
          "label": "Remove cookie every",
          "min": 10,
          "max": 60,
          "step": 5,
          "default": 30,
          "unit": "s"
        },
        {
          "type": "text",
          "id": "loop_time",
          "label": "Loop timer",
          "default": "20"
        },
        {
          "type": "range",
          "id": "deviation_value",
          "label": "Standard Deviation",
          "info": "Value range of counter after reload page (Percent * The previous value)",
          "min": 10,
          "max": 90,
          "step": 10,
          "default": 20,
          "unit": "%"
        },
        {
          "type": "text",
          "id": "count_min_max",
          "label": "Counter Min - Max",
          "default": "60;100",
          "placeholder": "Min ; Max"
        },
        {
          "type": "checkbox",
          "id": "city_manual",
          "label": "Use Manual Cities List"
        },
        {
          "type": "paragraph",
          "content": "Show manual cities list instead of nearby cities detect with GEOIP service."
        },
        {
          "type": "paragraph",
          "content": "Change list in Theme settings/ Fomo Popups/ Manual Cities List"
        },
        {
          "type": "header",
          "content": "Image settings"
        },
        {
          "type": "select",
          "id": "image_pos",
          "label": "Position",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "image_size",
          "label": "Image size",
          "default": "small",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "noti_image",
          "label": "Image",
          "info": "Blank to hide"
        },
        {
          "type": "checkbox",
          "id": "use_product_image",
          "label": "Use Image from Products random"
        },
        {
          "type": "text",
          "id": "image_radius",
          "label": "Image Rounded corners",
          "default": "4px"
        },
        {
          "type": "text",
          "id": "image_margin",
          "label": "Image margin",
          "placeholder": "E.g: 5px 20px 5px 20px",
          "info": "Order: Top Right Bottom Left"
        },
        {
          "type": "header",
          "content": "Icon settings"
        },
        {
          "type": "text",
          "id": "icon_name",
          "label": "Font icon name",
          "info": "Use [icon] to place in your content"
        },
        {
          "type": "text",
          "id": "ic_fs",
          "label": "Icon font size",
          "default": "18px"
        },
        {
          "type": "color",
          "id": "ic_cl",
          "label": "Icon color",
          "default": "#222222"
        },
        {
          "type": "header",
          "content": "Line 1 settings"
        },
        {
          "type": "text",
          "id": "fomo_content_lh_1",
          "label": "Line 1 line height"
        },
        {
          "type": "text",
          "id": "fomo_content_padding_1",
          "label": "Line 1 Padding",
          "placeholder": "E.g: 5px 20px 5px 20px",
          "info": "Order: Top Right Bottom Left"
        },
        {
          "type": "text",
          "id": "text_fs_1",
          "label": "Text font size",
          "default": "14px"
        },
        {
          "type": "text",
          "id": "link_fs_1",
          "label": "Link font size",
          "default": "14px"
        },
        {
          "type": "select",
          "id": "text_fw_1",
          "label": "Text font weight",
          "default": "300",
          "options": [
            {
              "value": "100",
              "label": "100 Thin (Hairline)"
            },
            {
              "value": "200",
              "label": "200 Extra Light (Ultra Light)"
            },
            {
              "value": "300",
              "label": "300 Light"
            },
            {
              "value": "400",
              "label": "400 Normal"
            },
            {
              "value": "500",
              "label": "500 Medium"
            },
            {
              "value": "600",
              "label": "600 Semi Bold (Demi Bold)"
            },
            {
              "value": "700",
              "label": "700 Bold"
            },
            {
              "value": "800",
              "label": "800 Extra Bold (Ultra Bold)"
            },
            {
              "value": "900",
              "label": "900 Black (Heavy)"
            }
          ]
        },
        {
          "type": "select",
          "id": "link_fw_1",
          "label": "Link font weight",
          "default": "300",
          "options": [
            {
              "value": "100",
              "label": "100 Thin (Hairline)"
            },
            {
              "value": "200",
              "label": "200 Extra Light (Ultra Light)"
            },
            {
              "value": "300",
              "label": "300 Light"
            },
            {
              "value": "400",
              "label": "400 Normal"
            },
            {
              "value": "500",
              "label": "500 Medium"
            },
            {
              "value": "600",
              "label": "600 Semi Bold (Demi Bold)"
            },
            {
              "value": "700",
              "label": "700 Bold"
            },
            {
              "value": "800",
              "label": "800 Extra Bold (Ultra Bold)"
            },
            {
              "value": "900",
              "label": "900 Black (Heavy)"
            }
          ]
        },
        {
          "type": "color",
          "id": "text_color_1",
          "label": "Text color",
          "default": "#888888"
        },
        {
          "type": "color",
          "id": "link_color_1",
          "label": "Tink color",
          "default": "#1A1A1A"
        },
        {
          "type": "header",
          "content": "Line 2 settings"
        },
        {
          "type": "text",
          "id": "fomo_content_lh_2",
          "label": "Line 2 line height"
        },
        {
          "type": "text",
          "id": "fomo_content_padding_2",
          "label": "Line 2 Padding",
          "placeholder": "E.g: 5px 20px 5px 20px",
          "info": "Order: Top Right Bottom Left"
        },
        {
          "type": "text",
          "id": "text_fs_2",
          "label": "Text font size",
          "default": "14px"
        },
        {
          "type": "text",
          "id": "link_fs_2",
          "label": "Link font size",
          "default": "14px"
        },
        {
          "type": "select",
          "id": "text_fw_2",
          "label": "Text font weight",
          "default": "300",
          "options": [
            {
              "value": "100",
              "label": "100 Thin (Hairline)"
            },
            {
              "value": "200",
              "label": "200 Extra Light (Ultra Light)"
            },
            {
              "value": "300",
              "label": "300 Light"
            },
            {
              "value": "400",
              "label": "400 Normal"
            },
            {
              "value": "500",
              "label": "500 Medium"
            },
            {
              "value": "600",
              "label": "600 Semi Bold (Demi Bold)"
            },
            {
              "value": "700",
              "label": "700 Bold"
            },
            {
              "value": "800",
              "label": "800 Extra Bold (Ultra Bold)"
            },
            {
              "value": "900",
              "label": "900 Black (Heavy)"
            }
          ]
        },
        {
          "type": "select",
          "id": "link_fw_2",
          "label": "Link font weight",
          "default": "300",
          "options": [
            {
              "value": "100",
              "label": "100 Thin (Hairline)"
            },
            {
              "value": "200",
              "label": "200 Extra Light (Ultra Light)"
            },
            {
              "value": "300",
              "label": "300 Light"
            },
            {
              "value": "400",
              "label": "400 Normal"
            },
            {
              "value": "500",
              "label": "500 Medium"
            },
            {
              "value": "600",
              "label": "600 Semi Bold (Demi Bold)"
            },
            {
              "value": "700",
              "label": "700 Bold"
            },
            {
              "value": "800",
              "label": "800 Extra Bold (Ultra Bold)"
            },
            {
              "value": "900",
              "label": "900 Black (Heavy)"
            }
          ]
        },
        {
          "type": "color",
          "id": "text_color_2",
          "label": "Text color",
          "default": "#888888"
        },
        {
          "type": "color",
          "id": "link_color_2",
          "label": "Tink color",
          "default": "#1A1A1A"
        },
        {
          "type": "header",
          "content": "Fomo Content"
        },
        {
          "type": "paragraph",
          "content": "Use keywords to created random content, place in your content. [cities], [number], [products], [time]"
        },
        {
          "type": "textarea",
          "id": "text_header",
          "label": "Line 1",
          "default": "Fomo Lorem ipsum"
        },
        {
          "type": "select",
          "id": "head_alignment",
          "label": "Line 1 alignment",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "textarea",
          "id": "text_body",
          "label": "Line 2"
        },
        {
          "type": "select",
          "id": "body_alignment",
          "label": "Line 2 alignment",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        }
      ]
    },
    {
      "type": "fomo_shipping",
      "name": "Fomo Notify (Shipping)",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Block label"
        },
        {
           "type":"text",
           "id":"fomo_margin",
           "label":"Fomo margin",
           "placeholder":"E.g: 5px 20px 5px 20px",
           "info":"Order: Top Right Bottom Left"
        },
        {
          "type": "header",
          "content": "Order and Shipping Time",
          "info": "Working days"
        },
        {
          "type": "range",
          "id": "deadline_day",
          "label": "Deadline each day",
          "default": 14,
          "min": 0,
          "max": 23,
          "step": 1,
          "unit": "h"
        },
        {
          "type": "range",
          "id": "delivery_time",
          "label": "Delivery time",
          "default": 2,
          "min": 1,
          "max": 7,
          "step": 1,
          "unit": "d"
        }
      ]
    }
  ]
}
{% endschema %} 